* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.container {
  /* background: url('images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  object-fit: contain;
  justify-content: center;
}

.container > h1 {
  color: cornsilk;
  font-size: 70px;
  margin-top: -100px;
}

.container > p {
  margin-top: 8px;
  color: cornsilk;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn {
  margin-top: 70px;
  width: 142px;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  border: 1px;
  background-color: #204b57;
  cursor: pointer;
}

a {
  padding: 10px 20px !important;
  color: black;
}

// nav {
//   width: var(--fluid-width);
//   max-width: var(--max-width);
//   margin: 0 auto;
//   height: var(--nav-height);
//   display: flex;
//   align-items: center;
// }
// .page {
//   min-height: calc(100vh - var(--nav-height));
//   display: grid;
//   align-items: center;
//   margin-top: -3rem;
// }
// h1 {
//   font-weight: 700;
//   span {
//     color: var(--primary-500);
//   }
// }
// p {
//   color: var(--grey-600);
// }
// .main-img {
//   display: none;
// }
// @media (min-width: 992px) {
//   .page {
//     grid-template-columns: 1fr 1fr;
//     column-gap: 3rem;
//   }
//   .main-img {
//     display: block;
//   }
// }
